@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --cart-btn: #030d51;
}

html {
  scroll-padding-top: 7rem;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

button {
  font-family: "Roboto", sans-serif;
}

/* productsListings */

.all-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-vertical {
  margin: 1rem;
}

.card-vertical img {
  width: 252px;
  height: 252px;
}

.btn {
  border-radius: 0;
  transition: 0.25s;
}

.btn:hover {
  color: white;
  background-color: var(--cart-btn);
}

/* cart items */

.card-horizontal {
  margin: 1rem auto;
}

.card-horizontal img {
  width: 252px;
  height: 252px;
}

.btn-hCard:hover {
  color: white;
  background-color: var(--cart-btn);
}

.h-remove:hover {
  background-color: white;
  color: var(--custom-red);
}

.total-inCart {
  margin-left: 1rem;
  padding: 0.5rem;
  color: var(--custom-red);
  background-color: var(--border-color);
  border-radius: 0.5rem;
}

/* cart icon */

.btn-show-cart {
  position: relative;
  background-color: white;
  border: none;
  cursor: pointer;
}

.btn-show-cart .icon-badge {
  width: 1.2rem;
  height: 1.2rem;
}

@media (max-width: 500px) {
  .card-horizontal {
    flex-direction: column;
    width: 252px;
  }

  .horizontal-rating {
    left: 1rem;
    top: 228px;
  }

  .total-inCart {
    width: 6rem;
  }

  .all-cart-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .h-remove {
    margin-left: 0;
    font-size: 1rem;
  }
}
