@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --cart-btn: #1e3a8a;
}

html {
  scroll-padding-top: 7rem;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

button {
  font-family: "Roboto", sans-serif;
}

/* product */

.all-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-vertical {
  margin: 1rem;
}

.card-vertical img {
  width: 252px;
  height: 252px;
}

.btn {
  border-radius: 0;
  transition: 0.25s;
}

.btn:hover {
  color: white;
  background-color: var(--cart-btn);
}

.card-horizontal {
  margin: 1rem;
}

.card-horizontal img {
  width: 252px;
  height: 252px;
}

.btn-hCard:hover {
  color: white;
  background-color: var(--cart-btn);
}

.h-remove:hover {
  background-color: white;
  color: var(--custom-red);
}

.total-inCart {
  margin-left: 1rem;
  padding: 0.5rem;
  color: var(--custom-red);
  background-color: var(--border-color);
}

@media (max-width: 500px) {
  .card-horizontal {
    flex-direction: column;
  }

  .horizontal-rating {
    left: 0.2rem;
    top: 14rem;
  }

  .total-inCart {
    width: 7rem;
  }
}
